* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul {
    font-size: 0;
    display: flex;
    
}

li {
    height: 80px;
    width: 80px;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.increaser, .decreaser {
    background-color: #3498db;
    color: #ffffff;
}
.button:hover {
    cursor: pointer;
}